<div *ngIf="hero">
	<h2>Detalles de: {{hero.name | uppercase}}</h2>

	<div><span>id: </span>{{hero.id}}</div>
	<div>
		<label>nombre:
			<input [(ngModel)]="hero.name" placeholder="nombre" />
		</label>
	</div>
</div>

<button (click)="goBack()">Volver</button>
<button (click)="save()">Guardar</button>