<h2>Mis héroes</h2>

<div>
	<label>Nombre de héroe:
		<input #heroName />
	</label>
	<button (click)="add(heroName.value); heroName.value=''">
		Añadir
	</button>
</div>

<ul class="heroes">
	<li *ngFor="let hero of heroes" >
		<a routerLink="/detail/{{hero.id}}">
			<span class="badge">{{hero.id}}</span> {{hero.name}}
		</a>
		<button (click)="delete(hero)" class="delete" title="Borrar héroe">X</button>
	</li>
</ul>