/*
src/app/heroes/heroes.component.css
HeroSearch private styles
*/
.search-result li {
 border-bottom: 1px solid gray;
 border-left: 1px solid gray;
 border-right: 1px solid gray;
 width:195px;
 height: 16px;
 padding: 5px;
 background-color: white;
 cursor: pointer;
 list-style-type: none;
}

.search-result li:hover {
 background-color: #607D8B;
}
.search-result li a {
 color: #888;
 display: block;
 text-decoration: none;
}
.search-result li a:hover {
 color: white;
}
.search-result li a:active {
 color: white;
}
#search-box {
 width: 200px;
 height: 20px;
}
ul.search-result {
 margin-top: 0;
 padding-left: 0;
}